name: app-build-android

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: 签出代码
        uses: actions/checkout@v4
        with:
          ref: 'master'

      - name: 设置 JAVA 环境
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: "17"
          cache: 'gradle'

      - name: 设置 Flutter 环境
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: 获取依赖
        run: flutter pub get

      - name: 打包调试版 APK
        # 专门打 v7a 架构（电视通用），debug 模式自带签名
        run: flutter build apk --debug --target-platform android-arm

      - name: 上传 APK 产物
        uses: actions/upload-artifact@v4
        with:
          name: pure-live-debug-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
