name: app-build-android

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: '编译分支'
        required: false
        default: 'master'

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: 签出代码
        uses: actions/checkout@v4
        with:
          # 这样写可以确保即使输入框为空，也能抓到 master 分支
          ref: ${{ github.event.inputs.tag_name || 'master' }}

      - name: 设置 JAVA 环境
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: "17"
          cache: 'gradle'

      - name: 设置 Flutter 环境
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: 更新依赖
        run: flutter pub get

      - name: 打包 Android APK (适配 6.0 TV)
        # 针对电视 v7a 架构，使用 debug 签名绕过所有密钥报错
        run: flutter build apk --debug --target-platform android-arm

      - name: 上传 APK
        uses: actions/upload-artifact@v4
        with:
          name: android-tv-apk
          path: build/app/outputs/flutter-apk/app-debug.apk
