name: app-build-android

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: '输入编译分支 (填 master 或 main)'
        required: false
        default: 'master'

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: 签出代码
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag_name || github.ref_name }}

      - name: 设置 JAVA 环境
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: "17"
          cache: 'gradle'

      - name: 设置 Flutter 环境
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: 更新依赖
        run: flutter pub get

      - name: 打包 APK
        # 针对 6.0 TV 架构打包
        run: flutter build apk --release --target-platform android-arm

      - name: 上传产物
        uses: actions/upload-artifact@v4
        with:
          name: android-tv-apk
          path: build/app/outputs/flutter-apk/app-release.apk
